$color-light: rgb(247,247,247);
$color-glow: rgb(177,107,117);
$color-shine: rgb(225, 102, 127);
$color-dark: rgb(57, 45, 45);
$color-shadow: rgba(0,0,0,0.7);
$color-gray: rgb(57,62,70);

* {
  box-sizing: border-box;
  color: $color-dark;
  font-family: 'Josefin Sans', sans-serif;
}

.family-megrim {
  color: $color-light;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

.family-merienda {
  font-family: 'Merienda', cursive;
  padding: 14px 0;
}

/*.bg-gradient {
  background: -moz-linear-gradient(top, lighten($color-dark,35%) 0%, $color-gray 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, lighten($color-dark,35%), color-stop(100%, $color-gray)));
  background: -webkit-linear-gradient(top, lighten($color-dark,35%) 0%, $color-gray 100%);
  background: -o-linear-gradient(top, lighten($color-dark,35%) 0%, $color-gray 100%);
  background: -ms-linear-gradient(top, lighten($color-dark,35%) 0%, $color-gray 100%);
  background: linear-gradient(to bottom, lighten($color-dark,35%) 0%, $color-gray 100%);
}*/

.bg-pinkwater {
  background-image: url("../img/bg/pinkwatercolor.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-image: url("../img/fotos-lab/IMG_5121.JPG");
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
}

section {
  padding: 14px 0 42px 0;
}

.icon-bar {
  background-color: $color-shine;
}
.navbar-toggle{
  background-color: $color-light;
}
.blocks-about {
  font-size: 1.20em;
  padding: 0 7px;
}


h1 {
  font-size: 3.5em;
  line-height: 0.8em;
  margin: 0;
}

h2 {
  color: $color-glow;
  font-size: 3em;
  letter-spacing: 5.5px;
  margin: 0;
}

hr {
  border: 5px solid $color-dark;
  margin: 0;
  width: 50px;
}

@media (min-width: 360px) and (max-width:767px) {
  h1 {
    font-size: 5.5em;
    line-height: 0.8em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 9.5em;
    line-height: 0.7em;
  }
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 21px;
}

.column {
  flex-direction: column;
}

.img-logo {
  height: 49px;
  width: 49px;
  margin-left: 21px;
}

.height-all {
  height: 100vh;
}

.bg-cap {
  background-color: transparentize($color-glow, 0.4);
}

.bg-about-sub {
  //background-image: url("../img/bg/bg-ray.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-more {
  padding: 28px 0;
}

#skill-phrase {
  padding: 14px 0;
  p {
    font-size: 1.4em;
    margin-left: calc(50vw - 4em);
  }
}

@media (min-width: 768px) {
  #skill-phrase {
    padding: 35px 0;
    p {
      font-size: 3em;
      margin-left: calc(50vw - 5em);
    }
  }
}

.bg-sub-j {
  background-image: url("../img/bg/birds.jpg");
  background-position: center center;
}

.bg-dark {
  background-color: $color-dark;
}

.text-nav {
  color: $color-light;
  font-size: 1.24em;
  letter-spacing: 2.5px;
}

.text-nav:hover {
  color: $color-glow;
}

.text-shine {
  color: $color-shine;
}

#skills {
  background-image: url("../img/bg/woman-lap.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-blur{
  background: inherit;
  z-index: 1;
  color: #fff;
  width: 100%;
  position: relative;
  margin: 42px 0;
  padding-bottom: 28px;
  &:before {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: 0;
    background: inherit;
    filter: blur(7px);
    z-index: -1;
  }
}

/*icons*/
aside[class^="icon-"] {
  background-size: 42px 42px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
}


footer {
  background-color: $color-dark;
  padding: 21px 0 11px 0;
  p {
    color: $color-light;
  }
}

.rotate {
  box-shadow: 10px 10px 5px 0 $color-shadow;
  -moz-box-shadow: 10px 10px 5px 0 $color-shadow;
  -webkit-box-shadow: 10px 10px 5px 0 $color-shadow;
  transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  position: relative;
  top: 28px;
}

.subtitle {
  padding: 49px 7px 21px 7px;
}
/*circulo*/

/*
.circular {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  position: absolute;
  top: 250px;
  left: 50px;
  font-size: 2.5rem;
}

.alrededor {
  width: 220px;
  height: 220px;
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.open.alrededor {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}


.alrededor a {
  text-decoration: none;
  color: #F6B4B8;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
}

.circular > .icon-helado {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 10px;
  background: #fbac92;
}
*/


